<link rel="stylesheet" href="../../static/assets/css/include/footer.css">

    <footer class="footer">
        <div class="container footer_container">
            <section class="footer_left">
                <img src="../../static/assets/icon/logo_white.svg" alt="Логотип JashylBonus — платформа бонусов и акций">

                <div class="footer_left-links">
                    <a target="_blank" href="../index.html">Главное</a>
                    <a target="_blank" href="../about.html">О нас</a>
                    <a target="_blank" href="../portfolio.html">Портфолио</a>
                    <a target="_blank" href="../services.html">Услуги</a>
                </div>
            </section>

            <div class="footer_right">
                <h2>Зелёное будущее вместе с JashylBonus</h2>
                <div class="footer-columns">
                    <div class="footer-column about">
                        <h3>Почта</h3>
                        <a type="mailto" class="links" href="mailto:jashylbonus@gmail.com">jashylbonus@gmail.com</a>

                        <h3>Телефон</h3>
                        <a type="tel" class="links" href="tel:+996999082024">+996 999 08 20 24</a>

                        <h3> Адрес</h3>
                        <a target="_blank" class="links" href="https://www.google.com/maps?q=г.+Ош,+ул.+Исанова,+81"
                            target="_blank">г.
                            Ош, ул.
                            Исанова, 81</a>
                    </div>

                    <div class="footer-column">
                        <h3>соцсети</h3>
                        <div class="social-icons">
                            <a target="_blank" href="https://wa.me/+996999082024">
                                <img src="../../static/assets/icon/whatsApp.svg" alt="" class="footer_block"></a>
                            <a target="_blank" href="https://instagram.com/jashyl.bonus">
                                <img src="../../static/assets/icon/instagram.svg" alt="" class="footer_block"></a>
                            <a target="_blank" href="https://www.tiktok.com/@jashyl_bonus">
                                <img src="../../static/assets/icon/tikTok.svg" alt="" class="footer_block"></a>
                            <a target="_blank" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all/">
                                <img src="../../static/assets/icon/linkEdin.svg" alt="" class="footer_block"></a>
                            <a target="_blank" href="https://t.me/jashyl_bonus">
                                <img src="../../static/assets/icon/telegram.svg" alt="" class="footer_block"></a>
                        </div>
                    </div>
                    <div class="footer-column app-play">
                        <h3>скачать приложение</h3>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.prolab.jashylbonus">
                            <img src="../../static/assets/icon/googleplay.svg" alt="">
                        </a>
                        <a target="_blank" href="https://apps.apple.com/kg/app/jashyl-bonus/id6743342061">
                            <img src="../../static/assets/icon/appstore.svg" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </footer>