

<link rel="stylesheet" href="../../static/assets/css/include/header.css">

<header class="header">
    <div class="container header_container">
        <a href="#" class="header_link-logo">
            <img src="../../static/assets/icon/logo_white.svg" alt="Логотип JashylBonus — платформа бонусов и акций"
                class="header_logo">
        </a>
        <nav class="header_nav">
            <a href="../include/hedaer.html" class="header_link text">Главная</a>
            <a href="../about.html" class="header_link text">О нас</a>
            <a href="../portfolio.html" class="header_link text">Портфолио </a>
            <a href="../services.html" class="header_link text">Услуги</a>
        </nav>
        <div class="header_tools">
            <button class="btn-cssbuttons">
                <span>
                    Язык <img src="../../static/assets/icon/vector_language.svg" alt="">
                </span>
                <ul>
                    <li>
                        <a class="text"  href="#">RU</a>
                    </li>
                    <li>
                        <a  class="text" href="#">KG</a>
                    </li>
                    <li>
                        <a class="text"  href="#">EN</a>
                    </li>
                </ul>
            </button>
            <div class="container-search">
                <input checked="" class="checkbox" type="checkbox">
                <div class="mainbox">
                    <div class="iconContainer">
                        <img src="../../static/assets/icon/search_icons.svg" alt="">
                    </div>
                    <input class="search_input" placeholder="Поиск" type="text">
                </div>
            </div>
        </div>
    </div>
</header>